@import "../../../styles/variables.module.scss";

.chat {
  width: 100%;
  height: 352px;
  padding: 10px 0px;
  background-color: whites;
  margin-top: 20px;
  border-radius: 15px;
  @media (max-width: map-get($breakpoints, lg)) {
    height: auto;
  }

  &_preview {
    width: 100%;
    margin-top: 30px;
    background: white;
    border-radius: 15px;
    display: flex;
    @media (max-width: map-get($breakpoints, lg)) {
      margin-top: 10px;
    }

    &_contacts {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 10px;
      @media (max-width: map-get($breakpoints, sm)) {
        display: none;
      }

      @media (max-width: map-get($breakpoints, sm)) {
        width: 100%;
        padding: 5px 10px;
      }

      &_search {
        height: 40px;
        width: 100%;
        margin: 15px 0px;
        @media (max-width: map-get($breakpoints, sm)) {
          width: 100%;
        }

        input {
          height: 100%;
          width: 100%;
          border-radius: 55px;
          border: none;
          outline: none;
          padding: 5px 10px;
          background: $primary-7;
          ::placeholder {
            color: #223322;
          }
        }
      }

      &_people {
        width: 100%;
        height: 60px;
        padding: 10px 5px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          background: $primary-7;
        }

        &_info {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &_image {
          height: 48px;
          width: 48px;
          border-radius: 360px;

          img {
            border-radius: 360px;
          }
        }
        &_text {
          width: 170px;
          margin-left: 10px;
          p {
            font-size: 10px;
            color: $primary-6;
          }
        }
        &_time {
          width: 35px;
          height: 100%;

          p {
            font-size: 10px;
            color: $primary-6;
            font-weight: map-get($font-weights, regular);
          }
          div {
            height: 12px;
            width: 12px;
            background: red;
            border-radius: 360px;
            font-size: 10px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
          }
        }
      }
    }

    &_chatbox {
      width: 60%;
      height: 100%;
      @media (max-width: map-get($breakpoints, md)) {
        max-width: 400px;
      }
      @media (max-width: map-get($breakpoints, sm)) {
        width: 100%;
      }
    }
  }
}
