@import "../../../styles/variables.module.scss";

.button {
  width: 190px;
  height: 60px;
  font-size: $font-xsm;
  line-height: 22px;

  box-shadow: 0px 13px 25px rgba(196, 94, 0, 0.25);
  border-radius: 30px;
  border: none;
  outline: none;
  @media (max-width: map-get($breakpoints, sm)) {
    width: 86px;
    height: 22px;
    font-size:10px;
  }

  &.style-1 {
    color: $primary-5;
    background-color: $primary-3;
  }

  &.style-2 {
    color: white;
    background-color: $primary-2;
  }
}
