@import "../../../styles/variables.module.scss";

.card {
  width: 100%;
  height: 211px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 40px 45px;
  background: $primary-4;

  &:hover {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  }

  @media (max-width: map-get($breakpoints, lg)) {
    width: 100%;
    height: auto;
    margin-left: 10px;
  }

  @media (max-width: map-get($breakpoints, md)) {
    height: auto;
    align-items: center;
    width: 100%;
    padding: 30px;
  }
  @media (max-width: map-get($breakpoints, sm)) {
    height: auto;
    align-items: flex-start;
    padding: 20px;
    margin-top: 0%;
  }
}
