@import "./reset";
@import "./variables.module.scss";

// @function weights($weight-name){
//     @return map-get($font-weights, $weight-name )
// }

// @mixin container($direction){
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: $direction;
// }

// @mixin mobile($direction){
//     @media (max-width:map-get($breakpoints, lg )) {
//         @content
//     }
// }

* {
  font-family: $font-2;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
