@import "../../../styles/variables.module.scss";

.video {
  width: 420px;
  height: auto;
  // border: 1px solid #000;
  @media (max-width: map-get($breakpoints, lg)) {
    width: auto;
    margin-top: 30px;
  }

  &_play {
    width: 100%;
    height: 238px;
    border-radius: 15px;
    margin-top: 15px;
    // border: 1px solid blue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../../public/assets/videopic.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: map-get($breakpoints, lg)) {
      height: 400px;
    }
    @media (max-width: map-get($breakpoints, sm)) {
      height: 238px;
    }
  }
  &_more {
    margin-top: 20px;
    display: grid;
    justify-content: space-between;
    grid-gap: 10px 0px;
    grid-template-columns: repeat(3, 30%);
    // border: 1px solid #000;

    &_content {
      width: 129px;
      height: 80px;
      border-radius: 7px;
      // border: 1px solid #8d2323;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../../public/assets/video1.svg");
      background-size: cover;
      @media (max-width: map-get($breakpoints, lg)) {
        width: 100%;
        height: 150px;
      }
      @media (max-width: map-get($breakpoints, sm)) {
        width: 100%;
        height: 80px;
      }
    }
  }
}
