@import "../../../styles/variables.module.scss";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  height: 75px;
  background-color: $primary-2;

  p {
    font-size: $font-sm;
    text-align: center;
    padding: 0% 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;

    @media (max-width: map-get($breakpoints, sm)) {
      font-size: $font-xxsm;
    }
  }
}
